#app {
  position: relative;
  // margin-left: 2em;
  // margin-top: 2em;
  
  
  // overflow: scroll;
  // // border: 1px solid $light-grey;
  // // padding: 1em;
  // border-radius: 0.25em;
  // // 
  height: 100%;
}

.add-todo-container {
  width: 100%;
  padding: 1em;
  span {
    color: $white;
    font-size: 1.5em;
  }
}

.add-todo {
  form input {
    padding-right: 0;
    padding-left: 0; 
    border: 0px solid $white;
    border-radius: 0;
    font-style: italic;
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    background: $light-blue;
    color: $white;
    &:focus {
      outline: none !important;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       font-style: italic;
       font-family: 'PT Serif', serif;
       color: $light-grey;
    }
    &::-webkit-input-placeholder {  /* Firefox 19+ */
       font-style: italic;
       font-family: 'PT Serif', serif;
       color: $light-grey;
    }
  }
  form select {
    font-family: 'PT Serif', serif;
    background: $light-blue;
    border: 1px solid $light-blue;
    line-height: 1.5em;
    font-size: 1.5em;
    font-style: italic;
    color: $light-grey;
    border-radius: 0;
    &:focus {
      outline: none !important;
    }
  }
}

.todos-container {
  width: 100%;
  height: calc(100% - 10em);
  position: relative;

  div .todo-list-container {
    &:first-child {
      position: absolute;
      left: 0%
    }
    &:nth-child(2) {
      position: absolute;
      left: 33%
    }
    &:nth-child(3) {
      position: absolute;
      left: 66%
    }
  }
}

.todo-list-container {
  background: $light-blue;
  margin: 1em 0 1em 1em;
  border: 1px solid $light-blue;
  border-radius: 0.25em;
  width: calc(33.3% - 1.33em);
  overflow-y: scroll;
  max-height: 100%;
  h2 {
    margin-left: 0.75em;
    color: $white;
  }
}

ul.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0.5em 1em 0.5em 1em;
  li {
    // height: 40px;
    line-height: 1.5em;
    font-size: 1.2em;
  }
}

.todo-item {
  position: relative;
  input, p {
    display: inline;
    width: auto;
  }
  p {
    position: relative;
    top: 2px;
    color: $white;
    &.description {  
      margin-left: 1em;
      &.completed {
        text-decoration: line-through;
        color: $light-grey;
      }
    }
    &.delete {
      margin: 0;
      position: absolute;
      left: 100%;
      transform: translateX(-100%);
      color: $white;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: $dark-red;

      }
    }
  }
}