<a class="close">X</a>
<div class="compliment serif"><h2>Good going!</h2></div>
<img id="reward-img" src="{{ image }}">
<div class="outbound"><span>Find dogs like this available for adoption nearby with <strong>BarkBuddy</strong></span></div>
{{!-- <video controls><source src="http://localhost:2345/video" type="video/mp4"></video> --}}
