<div class='todo-list-container'>
  <ul class="todo-list" id="daily-list">
  </ul>
</div>
<div class='todo-list-container'>
  <ul class="todo-list" id="weekly-list">
  </ul>
</div>
<div class='todo-list-container'>
  <ul class="todo-list" id="monthly-list">
  </ul>
</div>