<form>
  <span class="serif">Every </span>
  <select name="recurrance">
    <option value="daily">day</option>
    <option value="weekly">week</option>
    <option value="monthly">month</option>
  </select>
  <span class="serif">I need to </span>
  <input type="text" width='160px' size="9" placeholder="walk the dog" autofocus="true"/>
</form>